Q1-Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [9]:
a="Himanshu"

In [10]:
a

'Himanshu'

In [11]:
type (a)

str

In [6]:
b=[1,2,3,"Himanshu",24.25,]

In [7]:
b

[1, 2, 3, 'Himanshu', 24.25]

In [8]:
type(b)

list

In [12]:
c=12.25

In [13]:
c

12.25

In [14]:
type(c)

float

In [15]:
d=('Rahul','Shyam')

In [16]:
d

('Rahul', 'Shyam')

In [17]:
type(d)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1

What will be the data type of the above given variable

In [20]:
var1 = 'Aman'

In [21]:
type(var1)

str

In [22]:
var2='[ DS , ML , Python]'

In [23]:
type(var2)

str

In [25]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [26]:
type(var3)

list

In [27]:
var4=1

In [28]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [32]:
10/5   #Its a arthmetic operator which is used for divide any two number.

2.0

In [34]:
5%10 # This is used to find out the reminder (Reminder operator)

5

In [35]:
10//5  # this is used to find out the floor division.

2

In [36]:
10**5 # this is power operator (Exponentiation) used to find out the power of any number.

100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [37]:
l = [1,2,5,4,3, "Himanshu", 1.0,True,"Rahul",52.2]

In [47]:
for i in l:
    print(l)

[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]
[1, 2, 5, 4, 3, 'Himanshu', 1.0, True, 'Rahul', 52.2]

In [48]:
len(l)

10

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [ ]:
A=10
B=5
while A/B :
    if A%B
     print(A%B)
    if A%B==0
    break
    
else:
    print("Wrong Input")

In [72]:
A%B

0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [46]:
z=list(range(1,26))
for i in z:
    if i%3==0:
        print("element is divisible by 3")
    elif i%3 !=0:
        print("element is not divisible by 3")

element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property

### Mutable are those data types, where we change or modify the data which is assigned to their variable.

In [66]:
a=[1,2,3,5,9,]

In [67]:
a

[1, 2, 3, 5, 9]

In [68]:
a[2] = 2

In [69]:
a

[1, 2, 2, 5, 9]

#Above we see that integer data type (int) will mutate and will change the index number 2 value from 3 to 2.

Immutable are those data types, which we can not change or modify the data which is aggigned to their variable.

In [70]:
a

[1, 2, 2, 5, 9]

In [71]:
b='Rahul'

In [73]:
b[3]="e"

TypeError: 'str' object does not support item assignment

Above we see that string data type (str) is immutable, we can't change or modify the data in his variable