Q1. How do you comment code in Python? What are the different types of comments?

We do comment code in python for the notes, documentation or explanation.
There are two type of comments:
1. Using # for one line comment.
2. Using """ for multi line comments """

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are used to store data in it. 
    Example for assign values to variables.
    
    A=45 -> here 'A' is variable and the value which it contains 45.

Q3. How do you convert one data type to another in Python?

For conveting one data type to another in Python use Typecasting.

In [11]:
l=[2,5,9,'Himanshu']

In [12]:
type (l) #here we put data in list data type.

list

In [17]:
s=str(l) # here we change the data type from list to string.
print(s)

[2, 5, 9, 'Himanshu']

In [18]:
type(s)

str

Q4. How do you write and execute a Python script from the command line?

For writing a python script we can use notepad, once the code is written on that save the file with extension name .py
because without this extention name system can't recognize what type of this file and what we want to do with the. Ex(mycode.py)
After saving the file we can open our command prompt by hitting window + R and type cmd.
Then run the file.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [19]:
my_list=[1,2,3,4,5]

In [23]:
sub_list=my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

The complex number in mathematics is one number is real and other is imaginary number and same as python.
for example : 1+3i ( i is indicate the imaginary number)
but
In python we denote imaginary by (j)
for example : 1+3j (here 3j is imaginary number)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

For assigning variable for age and the value 25 is

In [26]:
age=25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [27]:
price=9.99

In [28]:
type(price) # the datatype the variable belongs is Float.

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [29]:
name='Himanshu Singh'

In [34]:
#there are multiple ways to print the value of variable.

In [31]:
name # just call the variable.

'Himanshu Singh'

In [32]:
print(name) # using the print function.

Himanshu Singh

In [33]:
type(name) # data type is string.

str

Q10. Given the string "Hello, World!", extract the substring "World".

In [37]:
string="Hello, World!"
substring=string[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [43]:
is_student=True
#or
is_student=False